[Desktop Entry]
Type=Application
Name=Pauyshot
Exec=/home/pauytrh/Downloads/appimage/pauyshot_v1.AppImage
Icon=preferences-desktop
Comment=skibidi
Categories=Games;
Keywords=pauyshot;deadshot;shot;pauy;
NoDisplay=fal